<?xml version='1.0' encoding='windows-1252'?>
<!--
  Copyright (C) 2017 Christopher R. Field.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<?if $(sys.BUILDARCH) = x64 or $(sys.BUILDARCH) = arm64 ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?else ?>
    <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?endif ?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

    <Product
        Id='*'
        Name='OnePanel'
        UpgradeCode='3D442FFD-D2DD-460C-A0AD-3ACDE871DE2C'
        Manufacturer='Super-Duper-Otters'
        Language='1033'
        Codepage='1252'
        Version='$(var.Version)'>

        <Package Id='*'
            Keywords='Installer'
            Description='OnePanel CI Application'
            Manufacturer='Super-Duper-Otters'
            InstallerVersion='450'
            Languages='1033'
            Compressed='yes'
            InstallScope='perMachine'
            SummaryCodepage='1252'
            />

        <MajorUpgrade
            Schedule='afterInstallInitialize'
            DowngradeErrorMessage='A newer version of [ProductName] is already installed. Setup will now exit.'/>

        <Media Id='1' Cabinet='media1.cab' EmbedCab='yes' DiskPrompt='CD-ROM #1'/>
        <Property Id='DiskPrompt' Value='OnePanel Installation'/>

        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='$(var.PlatformProgramFilesFolder)' Name='PFiles'>
                <Directory Id='APPLICATIONFOLDER' Name='OnePanel'>
                    
                    <Component Id='Path' Guid='60CDFAAD-6112-42F8-B4BE-270779E6C215' KeyPath='yes'>
                        <Environment
                            Id='PATH'
                            Name='PATH'
                            Value='[APPLICATIONFOLDER]'
                            Permanent='no'
                            Part='last'
                            Action='set'
                            System='yes'/>
                    </Component>
                    <Component Id='binary0' Guid='*'>
                        <File
                            Id='exe0'
                            Name='OnePanel.exe'
                            DiskId='1'
                            Source='$(var.CargoTargetBinDir)\OnePanel.exe'
                            KeyPath='yes'/>
                    </Component>
                </Directory>
            </Directory>

            <!-- Start Menu Shortcut -->
            <Directory Id='ProgramMenuFolder' Name='Programs'>
                <Directory Id='ApplicationProgramsFolder' Name='OnePanel'>
                    <Component Id='StartMenuShortcut' Guid='B8F5E3A1-9C2D-4F6E-8A7B-1D3E5F9C2A4B'>
                        <Shortcut Id='ApplicationStartMenuShortcut'
                            Name='OnePanel'
                            Description='OnePanel CI Application'
                            Target='[APPLICATIONFOLDER]OnePanel.exe'
                            WorkingDirectory='APPLICATIONFOLDER'/>
                        <RemoveFolder Id='CleanUpStartMenuShortcut' Directory='ApplicationProgramsFolder' On='uninstall'/>
                        <RegistryValue Root='HKCU' Key='Software\OnePanel' Name='StartMenuShortcut' Type='integer' Value='1' KeyPath='yes'/>
                    </Component>
                </Directory>
            </Directory>

            <!-- Desktop Shortcut -->
            <Directory Id='DesktopFolder' Name='Desktop'>
                <Component Id='DesktopShortcut' Guid='C9F6E4B2-AD3E-5A7F-9B8C-2E4F6A0D3B5C'>
                    <Shortcut Id='ApplicationDesktopShortcut'
                        Name='OnePanel'
                        Description='OnePanel CI Application'
                        Target='[APPLICATIONFOLDER]OnePanel.exe'
                        WorkingDirectory='APPLICATIONFOLDER'/>
                    <RegistryValue Root='HKCU' Key='Software\OnePanel' Name='DesktopShortcut' Type='integer' Value='1' KeyPath='yes'/>
                </Component>
            </Directory>
        </Directory>

        <Feature
            Id='Binaries'
            Title='Application'
            Description='Installs the OnePanel application.'
            Level='1'
            ConfigurableDirectory='APPLICATIONFOLDER'
            AllowAdvertise='no'
            Display='expand'
            Absent='disallow'>
            
            <ComponentRef Id='binary0'/>

            <Feature
                Id='Environment'
                Title='PATH Environment Variable'
                Description='Add the install location of [ProductName] to the PATH system environment variable.'
                Level='1'
                Absent='allow'>
                <ComponentRef Id='Path'/>
            </Feature>

            <Feature
                Id='StartMenu'
                Title='Start Menu Shortcut'
                Description='Create a shortcut in the Start Menu for [ProductName].'
                Level='1'
                Absent='allow'>
                <ComponentRef Id='StartMenuShortcut'/>
            </Feature>

            <Feature
                Id='Desktop'
                Title='Desktop Shortcut'
                Description='Create a shortcut on the Desktop for [ProductName].'
                Level='1'
                Absent='allow'>
                <ComponentRef Id='DesktopShortcut'/>
            </Feature>
        </Feature>

        <SetProperty Id='ARPINSTALLLOCATION' Value='[APPLICATIONFOLDER]' After='CostFinalize'/>

        <Property Id='ARPHELPLINK' Value='https://github.com/Super-Duper-Otters/OnePanel-CI'/>
        
        <UI>
            <UIRef Id='WixUI_FeatureTree'/>
            
            <!-- Skip license agreement page -->
            <Publish Dialog='WelcomeDlg' Control='Next' Event='NewDialog' Value='CustomizeDlg' Order='99'>1</Publish>
            <Publish Dialog='CustomizeDlg' Control='Back' Event='NewDialog' Value='WelcomeDlg' Order='99'>1</Publish>

        </UI>

    </Product>

</Wix>
